{% comment %}
   This file is part of cctorrent
   Copyright (C) 2014-2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load staticfiles %}
<?xml version="1.0" encoding="utf-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}{% endblock %} (CCTorrent)</title>
    <link rel="stylesheet" href="{% static "cctorrent/BasicStyle.css" %}" />
    <link rel="stylesheet" href="{% static "cctorrent/ColorScheme.css" %}" />
    <script type="text/javascript" src="{% url 'settingsJS' %}" ></script>
    <script type="text/javascript" src="{% static "cctorrent/CCTorrent.js" %}"></script>
  </head>
  <body>
    <div id="MainMenu">
      <a href="{% url 'index' %}">
        <img style="display:inline; max-height: 1.5em;" src="{% static "cctorrent/cctorrent-logo.png" %}" alt="cctorrent-logo"></img>
      </a>
      <a href="{%url 'search' %}">Search</a>
      {%if authenticated %}
        <a id="UserSettingsButton" href="{%url 'dashboard' %}">Dashboard</a>
        <a id="UserLoginButton" href="{% url 'logout' %}">Logout</a>
      {%else%}
        {{CCTorrentConfig.DemoMode}}
        {% if CCTorrentConfig.DemoMode %}
        <span>Demo</span>
        {% else %}
        <a id="UserLoginButton" href="{% url 'login' %}">Login</a>
        {% endif %}
      {%endif%}
    </div>
    <div id="MainContent">
      {% if errorList %}
        <ul class="ErrorList">
        {% for e in errorList %}
          <li>{{e}}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>