{% extends "cctorrent/base.html" %}

{% comment %}
   This file is part of cctorrent
   Copyright (C) 2014-2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}Import a Jamendo album{% endblock %}
{% block content %}
{% if authenticated == True %}
  <h3>Import a Jamendo album<h3>
  <form enctype="multipart/form-data" action="{%url 'importJamendo' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if errorList %}
    <p>Errors:</p>
    <ul>
      {% for error in errorList %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <input type="submit" value="Import Jamendo zip"/>
  </form>
{% else %}
  <h3>Not allowed!</h3>
  <p>You must <a href="{%url 'login' %}">log in</a> to import a Jamendo album!</p>
{%endif%}
{% endblock %}