{% extends "cctorrent/base.html" %}
{% load CCTorrentFilters %}
{% comment %}
   This file is part of cctorrent
   Copyright (C) 2014-2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
{% if not newest_artists and not latest_albums %}
  <h3>This CCTorrent instance is empty!</h3>
  <p>
  Currently there are no artists or albums registered on this instance.
  {% if authenticated %}
    You can change that by <a href="{%url 'newartist' loggedinUser.id %}">creating a new artist</a>.
  {% else %}
    You can change that by <a href="{%url 'login' %}">logging in</a> and creating a new artist.
  {% endif %}
  </p>
{% else %}
  {% if newest_artists %}
    <h3>Newest artist</h3>
    <div class="ItemContainer">
    {% for a in newest_artists %}
      <div class="ItemBox">
        <img class="ItemBoxImage" src="{{CCTORRENT_FILEURL}}artist/{{a.id}}/picture.jpg" />
        <div class="ItemBoxContent">
          <div><a class="ItemBoxLine ItemBoxName" href="{%url 'artist' a.id %}">{{a.name}}</a></div>
          <div class="ItemBoxLine">{{ a|GetArtistAlbums }} album(s), {{ a|GetArtistTracks }} track(s)</div>
          <!--<div style="height:3em">&nbsp;</div>-->
          <div class="ItemBoxFooter">
          {% for t in a.tags.all %}
            <a href="{% url 'tagsearch' t.name %}">#{{t.name}}</a>
          {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  {% endif %}

  {% if latest_albums %}
    <h3>Latest albums</h3>
    <div class="ItemContainer">
    {% for a in latest_albums %}
      <div class="ItemBox">
        <a href="{% url 'album' a.id %}"><img class="ItemBoxImage" src="{{CCTORRENT_FILEURL}}album/{{a.artist.name}} - {{a.name}}/cover.jpg" /></a>
        <div class="ItemBoxContent">
          <div><a class="ItemBoxLine ItemBoxName" href="{%url 'album' a.id %}">{{a.name}}</a></div>
          <div>by <a class="ItemBoxLine" href="{%url 'artist' a.artist.id %}">{{a.artist.name}}</a></div>
          <div class="ItemBoxLine">{{ a|GetAlbumTracks }} track(s)</div>
          <div><a class="ItemBoxLine" href="{{t.license.url}}" target="_blank">({{a.license.short_name}})</a></div>
          <div class="ItemBoxLine">&nbsp;</div>
          <div class="ItemBoxFooter">
          {% for t in a.tags.all %}
            <a href="{% url 'tagsearch' t.name %}">#{{t.name}}</a>
          {% endfor %}
          </div>
        </div>
      </div>

    {% endfor %}
    </div>
  {% else %}
    <h3>There are no albums yet!</h3>
    <p>
      There are no albums on this CCTorrent instance yet!
      {% if authenticated %}
        You can change that with one of your artist profiles. There you can add an album.
        Your artist profiles can be found on <a href="{%url 'user' loggedinUser.id%}">your page</a>.
      {% endif %}
    </p>
  {%endif %}
{% endif %}
{% endblock %}