{% extends "cctorrent/base.html" %}

{% comment %}
   This file is part of cctorrent
   Copyright (C) 2014-2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}{{user.name}} {% endblock %}
{% block content %}
{% if user %}
  <h3>{{user.username}}{% if user.id == loggedinUser.id %} (you){% endif %}<h3>
  <h4>Artist profiles:</h4>
  <ul>
  {% for artist in user_artists %}
    <li><a href="{%url 'artist' artist.id%}">{{artist.name}}</a></li>
  {% endfor %}
  {% if authenticated %}{% if loggedinUser.id = user.id %}
    <li><a href="{%url 'newartist' user.id%}">Add new artist</a></li>
  {% endif %}{% endif %}
  </ul>

{%endif%}
{% endblock %}