{% extends "cctorrent/base.html" %}

{% comment %}
   This file is part of cctorrent
   Copyright (C) 2014-2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}{{user.name}}{% endblock %}
{% block content %}
{% if user %}
  <h3>{{user.name}}<h3>
  <h4>Artist names:</h4>
  <ul>
  {% for artist in user.artist_set.all %}
    <li><a href="./artist/{{artist.id}}">{{artist.name}}</a></li>
  {% endfor %}
  </ul>
  {% if authenticated %}
  <a href="{% url 'newartist' user.id %}">Create artist profile</a>
  {% endif %}
{%endif%}
{% endblock %}